/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.lang_btn {
  background-color: transparent;
  border: none; }

.text_nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 50px; }

.nav_div {
  border-bottom: 2px solid black; }

.nav_btn {
  height: 35px; }

span.weak {
  font-weight: lighter; }

#filtersMenu {
  padding-bottom: 1vh;
  border-bottom: 2px solid black; }

.filterBar {
  width: 15vw; }

.filterText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem; }
