/* CSS reset */
* {
  margin: 0;
  padding: 0; }

.lang_btn {
  background-color: transparent;
  border: none; }

.text_nav {
  font-family: 'Montserrat', sans-serif;
  font-size: 5vw; }

.nav_div {
  border-bottom: 2px solid black; }

.nav_btn {
  height: 35px; }

span.weak {
  font-weight: lighter; }

.navIcon {
  display: none; }

#filtersMenu {
  padding-bottom: 1vh;
  border-bottom: 2px solid black;
  display: none !important; }

.filterBar {
  width: 15vw; }

.filterText {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.1rem; }

@media only screen and (max-width: 1200px) {
  .btnNavText {
    display: none; }
  .filterBar {
    width: 20vw; }
  .navIcon {
    display: inline;
    padding-bottom: 6px;
    width: 1.5vw; } }

@media only screen and (max-width: 768px) {
  .filterBar {
    width: 50vw; }
  .navIcon {
    width: 2vw; }
  .text_nav {
    font-size: 4.5vw; } }
