#filtersMenu{
    padding-bottom: 1vh;
    border-bottom: 2px solid black;
    display: none !important;
};

.filterBar{
    width: 15vw;
};

.filterText{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1rem;
};

