/* CSS reset */
* {
    margin: 0;
    padding: 0; }

.lang_btn{
    background-color: transparent;
    border: none;
}

.text_nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
}

.nav_div{
    border-bottom: 2px solid black;
}

.nav_btn{
    height: 35px;
}

span.weak{
    font-weight:lighter;
}

.navIcon{
    width: 1.5vw;
    display: none;
}

@media only screen and (max-width: 1200px){
    .btnNavText{
        display: none;
    }

    .navIcon{
        display: inline;
    }
}
