/* CSS reset */
* {
    margin: 0;
    padding: 0; }

.lang-btn{
    background-color: transparent;
    border: none;
};

#enLang{
    font-weight: 700;
};

.esNav{
    display: none;
};

.esText{
    display: none;
};

.text_nav{
    font-family: 'Montserrat', sans-serif;
    font-size: 5vw;
};

.nav_div{
    border-bottom: 2px solid black;
};

.nav_btn{
    height: 35px;
};

.navIcon{
    display: none;
};
