@media only screen and (max-width: 1200px){
    
    .btnNavText{
        display: none;
    }
    
    .filterBar{
        width: 20vw;
    }

    .navIcon{
        display: inline;
        padding-bottom: 6px;
        width: 1.5vw;
    }
}

@media only screen and (max-width:768px){
    
    .filterBar{
        width: 50vw;
    }

    .navIcon{
        width:2vw;
    }

    .text_nav{
        font-size: 4.5vw;
    }

}